@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@font-face {
  font-family: 'RubikRegular';
  src: 
    url('../assets/fonts/rubik-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/rubik-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'RubikLight';
  src: 
    url('../assets/fonts/rubik-light-webfont.woff2') format('woff2'),
    url('../assets/fonts/rubik-light-webfont.woff') format('woff');
}

:root {
    /* Colors */

  /* Primary */

  --Blue: hsl(246, 80%, 60%);
  --Light-orange: hsl(15, 100%, 70%); /* work */
  --Soft-blue: hsl(195, 74%, 62%); /* play */
  --Light-red: hsl(348, 100%, 68%); /* study */
  --Lime-green: hsl(145, 58%, 55%); /* exercise */
  --Violet: hsl(264, 64%, 52%); /* social */
  --Soft-orange: hsl(43, 84%, 65%); /* self care */

  /* Neutral */

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

/* General Style */

body, html {
  background-color: var(--Very-dark-blue);
  color: white;
  font-family: 'RubikLight', sans-serif !important;
}

/* Footer Style */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--Soft-blue); }

/* Main Card Style */

.main-card {
  background-color: var(--Dark-blue);
}

.user-card {
  background-color: var(--Blue);
}

/* Activity Card Style */

.activity-display {
  background-color: var(--Dark-blue);
}

.work-activity {
  background-color: var(--Light-orange);
}

.play-activity {
  background-color: var(--Soft-blue);
}

.study-activity {
  background-color: var(--Light-red);
}

.exercise-activity {
  background-color: var(--Lime-green);
}

.social-activity {
  background-color: var(--Violet);
}

.self-care-activity {
  background-color: var(--Soft-orange);
}